
<div fxFlex="100" class="content-inner" fxLayout="column">
  <form
    [formGroup]="form"
    fxLayout="row wrap"
    id="adminForm"
    (ngSubmit)="onSubmit()"
  >
    <fieldset fxFlex="100" fxLayout="row wrap" style="row-gap: 16px">
      <div fxFlex.gt-sm="30%" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
        <div class="profile-holder"  >
          <div class="profile-pic">
            <label class="label" (click)="onShowImageViewer()">
              <span class="glyphicon glyphicon-camera"></span>
              <span>View picture</span>
            </label>
            <div class="profile-loader" *ngIf="!userProfilePicLoaded">
              <mat-spinner></mat-spinner>
            </div>
            <img [hidden]="!userProfilePicLoaded" [src]="profileFileSource" (error)="profilePicErrorHandler($event)" id="profilePicture" width="200" (load)="userProfilePicLoaded = true"/>
          </div>
          <button type="button" class="profile-pic-controls" (click)="onChangeProfile()" color="primary" mat-mini-fab aria-label="Change profile picture" matTooltip="Change profile picture">
            <mat-icon>photo_camera</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex.gt-sm="70%" fxFlex="100" fxLayout="row wrap" >
        <div
          fxFlex="100"
          fxLayout="column"
          fxLayout.gt-sm="row"
          style="gap: 16px"
        >
          <mat-form-field
            appearance="outline"
            fxFlex="50%"
            class="cell"
            [ngClass.gt-sm]="{ isLargeScreen: true }"
          >
            <mat-label>First name</mat-label>
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="getError('firstName') !== (null || undefined)"
              >{{
                (getError("firstName") &&
                getError("firstName")["required"]
                  ? "Please enter first name"
                  : "") ||
                  (getError("firstName") &&
                  getError("firstName")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            fxFlex="50%"
            class="cell"
            [ngClass.gt-sm]="{ isLargeScreen: true }"
          >
            <mat-label>Last name</mat-label>
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="getError('lastName') !== (null || undefined)"
              >{{
                (getError("lastName") && getError("lastName")["required"]
                  ? "Please enter last name"
                  : "") ||
                  (getError("lastName") && getError("lastName")["pattern"]
                    ? "Invalid input"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
        </div>
        <div
          fxFlex="100"
          fxLayout="column"
          fxLayout.gt-sm="row"
          style="gap: 16px"
        >
          <mat-form-field
            appearance="outline"
            fxFlex="50%"
            class="cell"
            [ngClass.gt-sm]="{ isLargeScreen: true }"
          >
            <mat-label>Mobile number</mat-label>
            <input
              matInput
              placeholder="Mobile number"
              formControlName="mobileNumber"
            />
            <mat-error
              *ngIf="getError('mobileNumber') !== (null || undefined)"
              >{{
                (getError("mobileNumber") &&
                getError("mobileNumber").required
                  ? "Please enter your mobile number"
                  : "") ||
                  (getError("mobileNumber") &&
                  getError("mobileNumber").minlength
                    ? "Please enter a valid mobile number"
                    : "") ||
                  (getError("mobileNumber") &&
                  getError("mobileNumber").maxlength
                    ? "Please enter a valid 11 digit mobile number"
                    : "")
              }}</mat-error
            >
          </mat-form-field>
          <div
            fxFlex="50%"
            class="cell"
            [ngClass.gt-sm]="{ isLargeScreen: true }"
          ></div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
