<div class="page-content">
  <div class="intro">
    <h3 class="intro-title">Hello {{profile.fullName}}
      <img src="../../../../assets/img/intro-waving.png">
    </h3>
    <p class="intro-sub-title">
      Here are the information from your document request, notifications, and announcements as of today!
    </p>
  </div>
  <div class="document-request-wrapper">
    <div class="document-request">
      <div *ngIf="!isLoading; else loadingSummaryCards" class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/pending">
        <div class="document-request-icon">
          <mat-icon>schedule</mat-icon>
        </div>
        <h4 class="document-request-title">Pending</h4>
        <h1 class="document-request-value">{{pending.total}}</h1>
      </div>
      <div *ngIf="!isLoading; else loadingSummaryCards" class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/to-pay">
        <div class="document-request-icon">
          <mat-icon>credit_card</mat-icon>
        </div>
        <h4 class="document-request-title">To Pay</h4>
        <h1 class="document-request-value">{{toPay.total}}</h1>
      </div>
      <div *ngIf="!isLoading; else loadingSummaryCards" class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/processing">
        <div class="document-request-icon">
          <mat-icon>autorenew</mat-icon>
        </div>
        <h4 class="document-request-title">Processing</h4>
        <h1 class="document-request-value">{{processing.total}}</h1>
      </div>
      <div *ngIf="!isLoading; else loadingSummaryCards" class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/tocomplete">
        <div class="document-request-icon">
          <mat-icon>check_circle_outline</mat-icon>
        </div>
        <h4 class="document-request-title">To Complete</h4>
        <h1 class="document-request-value">{{toComplete.total}}</h1>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingSummaryCards>
  <ngx-skeleton-loader animation="true" [theme]="{
    'border-radius': '40px',
    height: '200px',
    width: '230px',
  }"/>
  </ng-template>
