<div class="page-content">
  <div class="intro">
    <h3 class="intro-title">Hello {{profile.firstName}} {{profile.lastName}}
      <img src="../../../../assets/img/intro-waving.png">
    </h3>
    <p class="intro-sub-title">
      Here are the information from your document request, notifications, and announcements as of today!
    </p>
  </div>
  <div class="document-request-wrapper">
    <div class="document-request">
      <div class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/pending">
        <div class="document-request-icon">
          <mat-icon>schedule</mat-icon>
        </div>
        <h4 class="document-request-title">Pending</h4>
        <h1 class="document-request-value">2</h1>
      </div>
      <div class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/to-pay">
        <div class="document-request-icon">
          <mat-icon>credit_card</mat-icon>
        </div>
        <h4 class="document-request-title">To Pay</h4>
        <h1 class="document-request-value">9</h1>
      </div>
      <div class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/processing">
        <div class="document-request-icon">
          <mat-icon>autorenew</mat-icon>
        </div>
        <h4 class="document-request-title">Processing</h4>
        <h1 class="document-request-value">20</h1>
      </div>
      <div class="document-request-status" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" routerLink="/member/document-request/to-complete">
        <div class="document-request-icon">
          <mat-icon>check_circle_outline</mat-icon>
        </div>
        <h4 class="document-request-title">To Complete</h4>
        <h1 class="document-request-value">1</h1>
      </div>
    </div>
  </div>
</div>
