<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Pending">
    <div class="page-content">
      <div class="intro">
        <h3 class="intro-title">Pending</h3>
        <p class="intro-sub-title">
          You can view all your pending document requests here.
        </p>
      </div>
      <div class="">
      </div>
    </div>
  </mat-tab>
  <mat-tab label="To pay">
    <div class="page-content">
      <div class="intro">
        <h3 class="intro-title">To Pay</h3>
        <p class="intro-sub-title">
          You can check here for all pending payments for document requests.
        </p>
      </div>
      <div class="">
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Processing">
    <div class="page-content">
      <div class="intro">
        <h3 class="intro-title">Processing</h3>
        <p class="intro-sub-title">
          You can view here all the document request the are being processed.
        </p>
      </div>
      <div class="">
      </div>
    </div>
  </mat-tab>
  <mat-tab label="To Complete">
    <div class="page-content">
      <div class="intro">
        <h3 class="intro-title">To Complete</h3>
        <p class="intro-sub-title">
          You can check here for all the ready-to-complete document requests.
        </p>
      </div>
      <div class="">
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
