::ng-deep .page-wrapper {
  h1,h2,h3,h4,h5,h6 {
    margin: 0!important;
  }
  .page-container {
    max-width: 100% !important;
    mat-tab-group {
      mat-tab-header {
        max-width: 1280px!important;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 30px;
        .tab-label {
          gap: 5px!important;
          display: flex!important;
          align-items: center!important;
          .mat-badge-content {
            position: static!important;
            font-size: 0.8em!important;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }
        @media only screen and (max-width: 820px)  {
          padding: 0!important;
          .mdc-tab {
            // padding: 0 10px 0 10px!important;
          }
        }
        box-sizing: border-box;
        .mat-mdc-tab-label-container {
          text-transform: uppercase !important;
        }
      }
      mat-tab-body {
        box-sizing: border-box;
        .mat-mdc-tab-body-content {
          display: flex;
          justify-content: center;
          .page-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            .intro {
              padding: 20px;
              box-sizing: border-box;
              .intro-title {
                opacity: 0.7!important;
              }
              .intro-sub-title {
              }
            }
            .list {
              display: flex;
              width: 100%;
              flex-grow: 1;
              row-gap: 10px;
              flex-direction: column;
              box-sizing: border-box;
              .load-more {
                min-width: 100%;
                .load-more-button {
                  padding: 10px;
                  cursor: pointer;
                  width: max-content;
                  color: #2962ff!important;
                  font-weight: 600;
                }
              }
            }
            @media only screen and (max-width: 820px)  {
              padding: 16px!important;
            }
          }
        }
      }
    }
  }
}
