::ng-deep .page-wrapper {
  .page-container {
    max-width: 100% !important;
    mat-tab-group {
      mat-tab-header {
        max-width: 1280px!important;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0 30px;
        @media only screen and (max-width: 820px)  { 
          padding: 0 16px!important;
        }
        box-sizing: border-box;
        .mat-mdc-tab-label-container {
          text-transform: uppercase !important;
        }
      }
      mat-tab-body {
        box-sizing: border-box;
        .mat-mdc-tab-body-content {
          display: flex;
          justify-content: center;
          .page-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            .intro {
              .intro-title {
              }
              .intro-sub-title {
              }
            }
            @media only screen and (max-width: 820px)  { 
              padding: 16px!important;
            }
          }
        }
      }
    }
  }
}
