* {
  margin: 0 !important;
}

::ng-deep app-member {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .top-header {
    background: #1565c0;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    .mat-toolbar {
      position: relative;
      .mat-mdc-button {
        font-size: 1em;
        &.active {
          background-color: #0D47A1!important;
        }
      }
    }
  }
  
  
  ::ng-deep .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    .page-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-width: 100%!important;
        flex-grow: 1;
        width: 100%;
        app-member-home,app-member-document-request,app-member-archived {
          height: 100%!important;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
        }
        .page-content {
          max-width: 1280px!important;
          align-self: center;
          margin-left: auto!important;
          margin-right: auto!important;
          width: 100%;
          padding-bottom: 60px!important;
          h1, h2 ,h3, h4, h5, h6, p, label, span {
              color: #272d65
          }
          .intro {
            width: 100%;
            display: flex;
            flex-direction: column;
            .intro-title {
                margin: 0!important;
            }
            .intro-sub-title {
                margin: 0!important;
            }
          }
          @media only screen and (max-width: 1280px)  {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
          }
        }
    }
  }
  
  ::ng-deep .mat-mdc-tab-nav-bar {
    bottom: 0;
    width: 100%;
    position: fixed!important;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.3);
    z-index: 99;
    .mat-mdc-tab-links {
      height: 100%;
      flex-grow: 1;
      .mat-mdc-tab-link {
        height: 100%;
        flex-grow: 1;
        text-decoration: none!important;
        &.active-link {
          font-weight: 600!important;
          .mdc-tab__text-label{
            color: #448AFF;
          }
        }
      }
    }
  }
  
}
