<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Request #: {{requestNo}}</span>
  <span class="toolbar-item-spacer"></span>
  <div class="toolbar-action">
    <button [disabled]="isLoading" mat-stroked-button matTooltip="Back" routerLink="/admin/request-management/{{ requestDetails ?
      (requestDetails.requestStatus === 'PENDING' ? 'pending' : '' ) ||
      (requestDetails.requestStatus === 'TOPAY' ? 'to-process' : '' ) ||
      (requestDetails.requestStatus === 'PROCESSING' ? 'processing' : '' ) ||
      (requestDetails.requestStatus === 'TOCOMPLETE' ? 'to-release' : '' ) ||
      (requestDetails.requestStatus === 'CLOSED' ? 'closed' : '' )
      : ''}}">
      Back
    </button>
  </div>
</mat-toolbar>

<div class="content">
  <div class="inner-content">
    <div fxFlex="100" fxLayout="row" fxLayoutGap="16px" *ngIf="!media.isActive('lt-sm'); else showTabView">
      <div fxFlex="33.33%" fxFlex.sm="50%">
        <h4 class="inner-content-title">Tracker</h4>
        <ng-container *ngTemplateOutlet="tracker"></ng-container>
      </div>
      <div fxFlex="66.66%" fxFlex.sm="50%">
        <h4 class="inner-content-title">Details</h4>
        <mat-card class="request-details-card">
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <ng-template #showTabView>
    <mat-tab-group>
      <mat-tab label="Tracker">
        <div fxFlex="100" fxLayoutGap="8px">
          <ng-container *ngTemplateOutlet="tracker"></ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Details">
        <div fxFlex="100">
          <mat-card class="request-details-card">
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #tracker>
    <app-status-tracker (statusUpdated)="initDetails()" [requestDetails]="requestDetails" [pageRights]="pageRights"></app-status-tracker>
  </ng-template>
</div>
