<mat-toolbar color="#fff" class="mat-elevation-z4">
    <nav mat-tab-nav-bar #tab>
      <a mat-tab-link routerLink="/admin/members/view/verified" routerLinkActive="active-link">
        <span>Verified</span>
      </a>
      <div class="unverified" matBadge="{{totalUnVerified > 99 ? '99+' : totalUnVerified }}">
        <a mat-tab-link  routerLink="/admin/members/view/un-verified" routerLinkActive="active-link">
          <span>Un-verified</span>
        </a>
      </div>
    </nav>
</mat-toolbar>

<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="Approve" [disabled]="selectedUser.length <= 0" matTooltip="Approve" *ngIf="!verifiedTab" (click)="onApproveSelected()">
    <mat-icon>check</mat-icon>
  </button>
</div>

<div class="content">
  <div class="inner-content">
    <mat-card [ngClass]="{ 'hidden': isLoading }">
        <mat-card-content fxLayout="column" >
          <app-data-table
            #dataTable
            [isLoading]="isLoading"
            [dataSource]="dataSource"
            [columnDefs]="verifiedTab ? appConfig.config.tableColumns.membersVerified : appConfig.config.tableColumns.membersUnVerified"
            [total]="total"
            (pageChange)="pageChange($event)"
            (sortChange)="sortChange($event)"
            (filterChange)="filterChange($event)"
            (headerControlChange)="headerChange($event)"
            (rowControlChange)="rowControlChange($event)"
          ></app-data-table>
        </mat-card-content>
    </mat-card>
    </div>
</div>
