<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">{{isReadOnly ? 'Details' : 'Edit request type'}}</span>
  <span class="toolbar-item-spacer"></span>
  <div class="toolbar-action">
    <button mat-stroked-button matTooltip="Cancel" [routerLink]="isReadOnly ? '/admin/request-type/' : isNew ? '/admin/request-type/': '/admin/request-type/' + id">
      {{isReadOnly? 'Back' : 'Cancel'}}
    </button>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Save"
      *ngIf="pageAccess.modify && isReadOnly"
      routerLink="/admin/request-type/{{id}}/edit"
      replaceUrl="true"
    >
      Edit
    </button>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Save"
      *ngIf="pageAccess.modify"
      (click)="onDelete()"
      replaceUrl="true"
    >
      Delete
    </button>
  </div>
</mat-toolbar>
<div class="content">
  <div class="inner-content">
    <h4 class="inner-content-title">Request type details</h4>
    <mat-card>
      <mat-card-content>
        <div fxFlex="100" fxLayout="column">
          <app-request-type-form [isReadOnly]="isReadOnly" #requestTypeForm></app-request-type-form>
          <div style="margin-top: 10px;" *ngIf="!isReadOnly">
            <button
              mat-flat-button
              [disabled]="!requestTypeForm.valid || !requestTypeForm.ready"
              color="primary"
              (click)="onUpdate(requestTypeForm.getFormData)">
              Update
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <h4 class="inner-content-title">Requirements</h4>
    <app-request-requirements [requestType]="{ requestTypeId: id }" [isReadOnly]="isReadOnly" #requestRequirements></app-request-requirements>
  </div>
</div>
